.header {
    height: 100vh;
    background-image: linear-gradient(rgba(21, 21, 21, 0.48), rgba(26, 26, 26, 0.48)), url('https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

nav {
    background-color: rgba(0,0,0,0.692);
    font-family: 'Bebas Neue', sans-serif;
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 15px;
}

.nav-color {
    color: rgb(255, 255, 255);
}

.nav-links {
    margin: 0;
    list-style-type: none;
}

.nav-links2 {
    margin: 0;
    list-style-type: none;
}

.nav-links-1, .nav-links-2, .nav-links-3 {
    font-size: 16px;
    margin-left: 6%;
}

.nav-links2-1, .nav-links2-2, .nav-links2-3 {
    font-size: 16px;
    margin-right: 6%;
}


.nav-links li {
    float: left;
}

.nav-links2 li {
    float: right;
}

main {
    text-align: center;
}

.cafe {
    padding-top: 18%;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 16px;
    margin-bottom: -0.1rem;
}

.after{
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}

span {
    color: #f5a637;
}

.classmate {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
}

.reserve {
	border:1px solid #f5a637;
	display:inline-block;
	color:#ffffff;
    font-family: 'Bebas Neue', sans-serif;
	font-size: 12px;
	padding:20px 25px;
    cursor: pointer;
}

.reserve:hover {
    color: #f5a637;
}

/* Second page */

.second {
    height: 135vh;
}

.image-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .img1 {
    margin: 2%;
    width: 300px;
    height: 450px;
  }
  
  .image-text {
    flex: 1;
    margin-right: 12%;
  }

  .image-text h2 {
    font-family: 'Playfair Display', serif;
  }

.take {
    font-size: 20px;
    margin-bottom: 26rem;
    margin-left: 36px;
}

.img2 {
    margin: 2%;
    width: 300px;
    height: 450px;
}

.image-text-container2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    float: right;
    margin-top: -45px;
}

.relax {
    font-size: 20px;
    margin-top: 26rem;
    margin-right: 36px;
}

.image-text2 {
    flex: 1;
    margin-left: 12%;
  }

  .image-text2 h2 {
    font-family: 'Playfair Display', serif;
  }  
/* Third page */

.third {
    height: 110vh;
}

.menu {
    text-align: center;
    padding-top: 30px;
}

.menuop {
    font-weight: 600;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

.parent {
    text-align: left;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
  }
  
  .column {
    max-width: 700px;
    margin: 5px;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  
  .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: border 250ms ease-out, border-radius 250ms ease-out;
  }

  .image-container:hover {
    border: 10px solid rgba(0, 0, 0, 1);
   border-radius: 0px;
  }
  
  .text-container {
    margin-left: 20px;
  }
  
 .text-container h2 {
    font-family: 'Playfair Display', serif;
    margin: 0;
  }
  
  p {
    font-size: 16px;
  }
  
/* Fifth page */

.fifth {
    height: 100vh;
}

.make h1{
    font-weight: 600;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.make p {
    text-align: center;
}

.formsec {
    font-family: 'Playfair Display', serif;
    margin:0 auto;
    width: 500px;
}

input, button  {
    font-size: 18px;
    padding: 1rem 1rem;
    width: 500px;
    margin: 5px;
    display: block;
   } 

button{
    border-radius: 20px;
}

/* Sixt page */

.sixth {
    height: 80vh;
}

.client h1 {
    text-align: center;
}

.testemonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testemonial {
    margin-top: 5%;
    display: inline-block;
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 1);
    background-color: rgb(235, 235, 235);
    padding: 20px;
    margin-left: auto;
    cursor: pointer;
}

.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
 
.profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
   display: flex;
   align-items: center; 
}

.name_user {
    display: flex;
    flex-direction: column;
}

.name_user strong {
    color:rgb(30, 30, 30);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name_user span {
    color:rgb(30, 30, 30);
    font-size: 0.8rem;
}

.reviews {
    color:#f5a637
}

.box {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment p{
    font-size: 0.9rem;
    color:rgb(30, 30, 30);
}

.testemonial:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
/* Seventh page */

.seventh {
    height: 85vh;
}

/* Footer */
 footer {
    height: 30vh;
    background-color: black;
    color: white;
    height: auto;
}

.text-warning {
    padding: 5%;
}

 .credits {
    margin-left: 16%;
 }

