.header {
    height: 100vh;
    background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)), url('https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
/* 
    height: 100vh;
    background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)), url('https://github.com/KodeGo-Bootcamp/HTML-Activity-Images/blob/main/pexels-royal-anwar-450214.jpg?raw=true');
    background-size: cover;
    background-position: center; */
}

.header__image{
    display: none;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
} 

.logo {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.nav-links {
    margin-top: 30px;
    list-style-type: none;
    display: block;
}

.nav-links2 {
    margin-top: 30px;
    list-style-type: none;
    display: block;
}

.nav-links-1, .nav-links-2, .nav-links-3 {
    font-size: 16px;
    margin-left: 5%;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.nav-links2-1, .nav-links2-2, .nav-links2-3 {
    font-size: 16px;
    margin-right: 5%;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}


.nav-links li {
    float: left;
}

.nav-links2 li {
    float: right;
}

.cafe {
    text-align: center;
    margin-bottom: -12px;
    margin-top: 16%;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 16px;
}

.after{
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
}

span {
    color: #EFEA6B;
}

.classmate {
    color: white;
    text-align: center;
    margin-top: -10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.reserve {
	background-color:transparent;
	border:1px solid #EFEA6B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Bebas Neue', sans-serif;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
    margin-left: 44%;
}

/* Second page */

.second {
    height: 80vh;
    margin-top: 320px;
    
}

.img2 {
    float: left;
    position: absolute;
    width: 300px;
    height: 400px;
    left: 345px;
}

.supportd {
    padding-top: 30px;
    padding-left: 117px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.always {
    position: relative;
    margin-left: 32%;
}

.img3 {
    float: right;
    position: absolute;
    width: 300px;
    height: 400px;
    right: 345px;
}

.supportd2 {
    position: relative;
    float: right;
    padding-right: 700px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.great {
    margin-top: 180px;
}

.relax {
    float: right;
    margin-top: 30px;
}

/* Third page */

.third {
    height: 100vh;
    background-color: aquamarine;
}

.menu {
    text-align: center;
    padding-top: 30px;
}

.menuop {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.option {
    text-align: center;
}

.ullist {
    list-style-type: none;
    display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mains, .lunch, .dinner, .drinks {
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
    float: left;
    margin-left: 8px;
}

.gallery {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}